body {
  background-color: #f4f4f4;
}

#game {
  width: 344px;
  padding: 2px;
  margin: auto;
}

#logo {
  width: 80%;
  display: block;
  margin: 12px auto;
}

#timeline {
  display: block;
  font-size: 1.25em;
  width: 100%;
}

#player {
  width: 40%;
  font-size: 2em;
}

.dib {
  display: inline-block;
}

.no-margin {
  margin: 0
}

.margin-vertical {
  margin: 8px 0;
}

.margin-right {
  margin-right: 8px;
}

.xmr {
  margin-right: 24px;
}

.xml {
  margin-left: 24px;
}

.button {
  display: inline-block;
  padding: 0.5rem;
  border-style: solid;
  border-width: 1px;
  color: #000000;
  text-decoration: none;
}

.button:hover {
  color: #f4f4f4;
  background-color: #000000;
}

.options-panel-item {
  /* width: 352px; */
  width: 100%
}

.big-font {
  font-size: 1.5em;
}
